*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    background-color: white;
}

 .header{
    float: left; 
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: 120px;
    padding: 14px;
    color:darkblue;
}

.header > a{
    text-decoration: none;
    padding: 20px;
    /* margin-left: 50px; */
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.header > a:link{
  color: yellowgreen;
}

img { 
    float: left;
    margin: -10px;
    padding-right: -10px;
}

.header > img {
    margin-left: -120px;
    height: 50px;
    border-radius: 80px;
}

.dropbtn {
    background-color: rgb(122, 113, 34);
    color: whitesmoke;
    padding: 15px ;
    margin: 0px 0px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    z-index: 0;
  }

.dropdown > .dropbtn { 
    position: static;
    display: inline-block;
    padding: 13px 16px;
    margin: 40px 160px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: transparent;
  margin: 76px 711px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  color: black;
  margin: 20px 20px;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: blanchedalmond}

.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: goldenrod;
  }

/* section{
    position: relative;
    text-align: right;
  } */

.navbar-right{
  float: right;
  margin: -69px 12px;
  word-spacing: 2px;
}

.navbar-right a{
  margin: 43px 303px;
  padding: 11px 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px gray;
  text-decoration: none;
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

.first-one{
  margin-top: 40px;
  margin-left: 152px;
  padding: 0;
  letter-spacing: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  float: left;
  text-align: left;
  text-align: none;
  color: navy;
}

  .second-one{
    width: 350px;
    height: 50px;
    float: left;
    margin: 160px -320px;
    display: inline;  
  }

.second-one p{
  margin: 0px 0px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  color: gray;
}

.section-image img{
  height: 400px;
  float: right;
  margin: -172px 208px;
  position: relative;
  z-index: -1;
}

.section-button button{
    border-radius: 15px;
    padding: 7px 21px;
    border: 1px solid black;
    background-color: #FF3946;
    margin: 11px 171px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-button button a{
  margin-top: 0px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.section-link div{
    margin: 0px 0px 0px 0px;
    border-radius: 12px;
    padding: 6px 21px;
    margin: 10px -171px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-link div a{
  text-decoration: none;
  color: darkblue;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.section-button button a:hover , .section-link div a:hover{
  color: slateblue;
}

.second-section{
  float: left;
  margin: 262px -171px;
  display: grid;
  z-index: 0px;
}

.second-section div{
  color: #314584;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second-section-button{
  float: left;
  margin: -40px -153px;
}

.second-section-button button{
  border-radius: 15px;
  border: 0px;
  margin: 362px -168px;
  padding: 6px 18px;
  background-color: #FF3946;
}

.second-section-button a{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8px;
  color: whitesmoke;
}

.second-section-button a:hover{
  color: darkslateblue;
}

.grid-boxes{
  float: right;
  margin: 285px 278px;
}

.grid-boxes .grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: -20px 68px;
  grid-gap: 164px;
  height: 60px;
}

.grid-item{
  background-color: white;
  border: 0px;
  margin: -110px -59px;
  padding: 82px 26px; 
  font-size: 20px;
  text-align: left;
  box-shadow: 0px 3px 4px 1px gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #314584;
}

.grid-item, .grid-item1 > p{
  line-height: 18px;
}

.grid-item1{
  background-color: white;
  border: 0px;
  margin: -110px -3px;
  padding: 74px 26px;
  font-size: 20px;
  text-align: left;
  box-shadow: 0px 3px 4px 1px gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #314584;
}

.second_image{
  padding-left: 115px;
  margin: 0px;
}

.second_image img{
  margin: -60px 5px -24px 5px;
  width: 332px;
}

.Third_Section{
  margin: -33px 154px;
  float: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Third_Section h5{
  color: #FF3946;
  font-size: 9px;
  word-spacing: 2px;
  line-height: 33px;
  letter-spacing: 0.5px;
}

.Third_Section h1{
  color: #314584; 
  font-size: x-large;
}

.Third_Section p{
  font-size: x-small;
  color:#6F7DA9;
  margin-top: 25px;
}

.Third_Section .Left_arrow{
  color: gray;
  line-height: 6ch;
}

.Third_Section a{
  text-decoration: none;
}

.Third_Section .Right_arrow{
  color: #314584;
  margin-left: 10px;
}

.Fourth_Section{
  float: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Fourth_Section h1{
  margin: 120px 227px;
  color: #314584;
}

.Fourth_Section a{
  text-decoration: none;
  float: right;
}

.Fourth_Section div{
  float: right;
  margin: -157px -193px;
}
.Fourth_Section span{
  float: right;
  margin-right: 20px;
}

.Fourth_Section .Left_arrow1{
  color: #314584;
  /* margin: 120px 0px ; */
}

.Fifth_Section{
  float: right;
  margin: -109px 441px;
}

.grid_boxes{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
  background-color: none;
  padding: 10px 10px;
}

.grid_boxes > div{
  background-color: #C3D0D8;
  border: 77px solid transparent;
  padding-right: 30px;
  text-align: center;
  font-size: 30px;
}

.Fifth_Section > p{
  text-align: center;
  margin-top: 25px;
  font-size: x-small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #FF3946;
}

.Fifth_Section  a{
  text-decoration: none;
  color: #214acf;
}

.Fifth_Section a:hover{
  color:cornflowerblue ;
}

.Sixth_Section{
  float: left;
  margin-top: 200px;
  margin-left: 100px;
}

.Sixth_Section p{
  color: #FF3946;
  font-size: xx-small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 120px;
}

.Sixth_Section h2{
  color: #314584;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 116px;
  margin-top: 10px;
}

.sgrid_boxes{
  display: grid;
  grid-template-columns: auto auto auto;
  border: 77px transparent;
  grid-gap: 15px;
  background-color: none;
  margin: 73px 120px;
}

.sgrid_boxes div{
  background-color: #C3D0D8;
  border: 0px solid transparent;
  padding-right: 195px;
  padding-top: 210px;
  text-align: center;
  font-size: 30px;
}


.Sixth_Section span{
  float: right;
  margin: 0px 60px;
  color: #314584;
}

.Sixth_Section a{
  text-decoration: none;
  color: #FF3946;
}

.Sixth_Section_div{
  float: right;
  margin: -157px -193px;
}

.Sixth_Section_div > .Right_arrow3{
  padding-left: 200px;
  margin: 0px;
}

.Sixth_Section_div > .Left_arrow4{
  margin: 0px;
}

.sgrid_boxes > .f1{
  background-color: #FF3946;
}