*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}

 .header{
    float: left; 
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: 120px;
    padding: 14px;
    color:darkblue;
}

.header > a{
    text-decoration: none;
    padding: 20px;
    /* margin-left: 50px; */
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.header > a:link{
  color: yellowgreen;
}

img { 
    float: left;
    margin: -10px;
    padding-right: -10px;
}

.header > img {
    margin-left: -120px;
    height: 50px;
}

.dropbtn {
    background-color: rgb(122, 113, 34);
    color: whitesmoke;
    padding: 15px;
    margin: 0px 0px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }

.dropdown { 
    position: static;
    display: inline-block;
    padding: 0px 0px;
    margin: 40px 120px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.dropdown-content a{
  color: black;
  padding: 14px 8px;
  text-decoration: none;
  display: block;
}

/* .Hov-he{
    line-height: -600px;
    margin-top: -230px;
    margin-left: 220px;
    margin-right: 20px;
} */

.dropdown-content a:hover {background-color: blanchedalmond}

.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: goldenrod;
  }

  /* .Contact-Us{
    margin: 10px -20px; padding: 0px;
  }

.Contact-Us a {
  margin: 0px 40px;
} */

section{
    position: relative;
    text-align: center;
}

.first-one{
  margin-top: 40px;
  margin-left: 200px;
  padding: 0;
  letter-spacing: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  float: left;
  text-align: center;
}